.app-nav{
  width: 200px;
  height: 100%;
  .subNav {
    height: auto;
    transition: height 1s ease;
  }
  .fold {
    height: 0;
  }
  .ant-menu-inline{
    border-right: 0;
  }
  .ant-menu-inline-collapsed > .ant-menu-item,
  .ant-menu-inline-collapsed > .ant-menu-submenu .ant-menu-submenu-title {
    .action + span {
      display: inline-block;
      max-width: 0;
      opacity: 0;
    }
  }
}
